html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
button,
input,
textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, Cantarell,
    Roboto, Helvetica, Arial, Noto Sans, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
  --page-max-width: 600px;
  --main-bg-color: #fafafa;
  --main-txt-color: #333;

  --heading-color--muted: #c5c9d5;
  --txt-color--muted: #888;

  --link-color: 255, 215, 221;

  --tag-bg: #edeff5;
  --tag-bg--hover: rgb(255, 215, 221);
}

body {
  margin: 0 auto;
  padding: 4rem 2rem 8rem 2rem;
  max-width: var(--page-max-width);
  color: var(--main-txt-color);
  background-color: var(--main-bg-color);
}

h1 {
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

h2 {
  margin-top: 4rem;
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--heading-color--muted);
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

p {
  margin-bottom: 0.3125rem;
}

a {
  transition: all 160ms ease 0s;
  box-shadow: rgba(var(--link-color), 0.3) 0px -9px 0px inset;
  border-bottom: 2px solid rgb(var(--link-color));
  text-decoration: none;
  color: #323336;
}

a:hover {
  box-shadow: rgb(var(--link-color)) 0px -1.2em 0px inset;
}

section ul {
  margin-top: 0.5rem;
  margin-left: 2.5rem;
  list-style: disc;
}

section li {
  margin-bottom: 0.5rem;
}

.text-muted {
  color: var(--txt-color--muted);
}

.contact {
  padding-top: 2rem;
}

.contact span {
  width: 100px;
  display: inline-block;
}

.headline {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.125rem;
  letter-spacing: 1.2px;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

.profiles {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.tag {
  display: inline-block;
  padding: 0.25rem 1rem;
  background-color: var(--tag-bg);
  margin: 0 0.5rem 0.5rem 0;
  white-space: nowrap;
}

a.tag {
  box-shadow: none;
  border-bottom: none;
  text-decoration: none;
}

a.tag:hover {
  background-color: var(--tag-bg--hover);
}

.languages {
  padding-top: 2rem;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(33.333%, 1fr));
}
